.competencieCard {
  background-color: var(--bg-main);
  color: var(--text-reverse);
  border: 1px solid var(--border-card);
  border-radius: 50px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    border-color 0.3s,
    color 0.3s;

  &:hover {
    border-color: var(--text-secondary);
    color: var(--text-main);
  }
}
