.aboutMeSection {
  display: flex;
  flex-direction: column;
  padding: clamp(2rem, 5vw, 5rem);
  background-color: var(--bg-card);
  gap: 3rem;
}

.aboutMeBox {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & p {
    font-size: clamp(1.2rem, 2.5vw, var(--font-m));
    color: var(--text-reverse);
    max-width: 800px;
    margin-bottom: 2rem;
  }
}

.competenciesBox {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.competencies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
