.scrollUpButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  background-color: var(--text-secondary);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s,
    visibility 0.3s;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.scrollUpButton:hover {
  background-color: var(--border-card);
}

.scrollUpButton.visible {
  opacity: 1;
  visibility: visible;
}

.icon {
  transform: rotate(180deg);
  filter: brightness(0) invert(1);
}

@media (max-width: 768px) {
  .scrollUpButton {
    bottom: 1rem;
    right: 1rem;
    width: 45px;
    height: 45px;
  }
}