@layer base {
  :root {
    /*** Dark Theme (Default) ***/

    --bg-main: #19191b;
    --text-main: #ffffff;
    --text-secondary: #f28219;
    --text-lighter: #b9b4b4;
    --bg-card: #222427;
    --bg-card-hover: #2a2d31;
    --text-reverse: #b6b8bc;
    --border-card: #747a89;
    --border-card-hover: #f28219;

    /*** font sizes ***/
    --font-s: 1.4rem;
    --font-m: 1.55rem;
    --font-l: 1.85rem;
    --font-xl: 2.5rem;
    --font-xxl: 3rem;
  }

  :root[data-theme="light"] {
    /*** Light Theme ***/

    --bg-main: #f5f5f5;
    --text-main: #1a1a1a;
    --text-secondary: #f28219;
    --text-lighter: #666666;
    --bg-card: #ffffff;
    --bg-card-hover: #f0f0f0;
    --text-reverse: #4a4a4a;
    --border-card: #d1d5db;
    --border-card-hover: #f28219;
  }
}
