.footer {
  background-color: var(--bg-card);
  color: var(--text-main);
  min-height: 100vh;
  padding: clamp(2rem, 5vw, 5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  & li {
    text-transform: uppercase;
    font-weight: bold;
    font-size: clamp(var(--font-s), 2.5vw, var(--font-l));
  }
}

.copyright {
  font-size: clamp(0.8rem, 2vw, var(--font-m));
  color: var(--text-secondary);
}

.contentBox {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.address li {
  color: var(--text-secondary);
  text-align: right;
  word-wrap: break-word;
  max-width: 100%;
}

.contactLinks ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: uppercase;

  a {
    display: flex;
    gap: 0.5rem;
    line-height: 1;
    color: var(--text-main);

    position: relative;
    width: fit-content;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      height: 3px;
      background-color: var(--text-secondary);
      transition: width 0.4s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .contentBox {
    flex-direction: column;
    gap: 2rem;
  }

  .address {
    align-items: flex-start;
  }

  .address li {
    text-align: left;
  }
}
