.titleHead {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  & h2 {
    font-size: clamp(var(--font-m), 4vw, var(--font-xl));
    color: var(--text-main);
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: bold;
  }

  & span {
    font-size: clamp(1rem, 2.5vw, var(--font-m));
    padding: 0px;
    margin: 0px;
    line-height: 1;
    color: var(--text-secondary);
  }
}
